<nav>
    <div class="logo">
        <img src="assets/icons/Poké_Ball_icon.svg" alt="logo" />
        <h1>Pokedex</h1>
    </div>
    <ul>
        <li>
            <a [routerLink]="['/']">Pokedex</a>
        </li>
        <li>
            <a [routerLink]="['favorites']">Favorites</a>
        </li>
    </ul>
    <div #hamburger class=" hamburger" (click)="toggleNav()">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
</nav>
<div #menubar class="menubar">
    <ul>
        <li>
            <a [routerLink]="['/']">Pokedex</a>
        </li>
        <li>
            <a [routerLink]="['favorites']">Favorites</a>
        </li>
    </ul>
</div>