.btn {
  padding: 10px;
  border: none;
  border-radius: 7px;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;

  &.btn-red {
    background-color: var(--red);
    color: var(--white);
  }

  &:hover {
    scale: 1.03;
  }
  &.btn-red:hover {
    background-color: var(--red-010);
  }
}

.btn-circle {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  align-items: center;
  padding: 10px;
  height: 40px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    scale: 1.03;
  }
  &.btn-red {
    background-color: var(--red);
    color: var(--white);
  }
  &.btn-transparent {
    background-color: transparent;
  }
  &.btn-red:hover {
    background-color: var(--red-010);
  }
}
