.input-text {
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  border-radius: 50px;
  background: var(--black-005);

  margin-bottom: 20px;
  input[type="text"] {
    width: 85%;
    border: none;
    background: none;
    font-size: 14px;
    color: var(--white);
    outline: 0;
    margin-left: 10px;
  }
}
select {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background: var(--black-005);
  margin-bottom: 20px;
  color: var(--grey);
  option {
    color: var(--black);
  }
  .flying {
    background-color: #afd3e7;
  }
  .ground {
    background-color: #413810;
    color: var(--grey);
  }
  .dragon {
    background-color: #581212;
    color: var(--grey);
  }
}
